<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script defer src="{{url_for('static', filename='script.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
  <h2>Prompt Generator</h2>
  <div>
    <h1 class="title">Impromptu</h1>
    <p class="desc">In Impromptu, you are given a choice among three prompts and have seven minutes to prepare and deliver a speech about anything related to the prompt.
    <span class="material-symbols-outlined">arrow_right_alt</span>
    </p>
  </div>
  <div>
  <h1 class="title">Extemporaneous</h1>
    <p class="desc">In Extempt, you are presented with a choice of three questions related to current events and, in 30 minutes, prepare a seven minute speech related to the prompt

    <span class="material-symbols-outlined">
      arrow_right_alt
    </span>
  </p>
  </div>
</body>
</html>